{
  "extends": ["plugin:prettier/recommended"],
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },

  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": "error"
  }
}